@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
    line-height: 120%;
}


.prose :where(blockquote):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    * {
        font-style: italic;
        font-size: 1.80rem !important;
        height: fit-content;
        line-height: normal;
    }
}
code {
    font-family: "Fira Code", monospace !important;
    font-optical-sizing: auto;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6{
    @apply text-dark dark:text-white
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.roboto-thin {
  font-weight: 100;
  font-style: normal;
}

.roboto-thin-italic {
  font-weight: 100;
  font-style: italic;
}

.roboto-light {
  font-weight: 300;
  font-style: normal;
}

.roboto-light-italic {
  font-weight: 300;
  font-style: italic;
}

.roboto-regular {
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-italic {
  font-weight: 400;
  font-style: italic;
}

.roboto-medium {
  font-weight: 500;
  font-style: normal;
}

.roboto-medium-italic {
  font-weight: 500;
  font-style: italic;
}

.roboto-bold {
  font-weight: 700;
  font-style: normal;
}

.roboto-bold-italic {
  font-style: italic;
}

.roboto-black {
  font-weight: 900;
  font-style: normal;
}

.roboto-black-italic {
  font-weight: 900;
  font-style: italic;
}

@media (max-width: 768px) {
    * {
        font-size: 16px;
    }
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.25rem;
    }
    h6 {
        font-size: 1rem;
    }
}

.truncate-2-lines {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
}



/* For progress bar */


.progress {
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 4px;
    z-index: 1000;
}

#TableOfContents{
    ul {
        padding: 0;
        margin: 0;
        padding-left: 20px;
        li {
            margin: 2px 0;
            padding: 0;
            a {
                text-decoration: none;
                font-size: 18px;
                color: #2a6bd4;
            }
        }
    }
}


.dark #TableOfContents{
    ul {
        padding: 0;
        margin: 0;
        padding-left: 20px;
        li {
            margin: 2px 0;
            padding: 0;
            a {
                text-decoration: none;
                font-size: 20px;
                color: #89b5fa;
                opacity: 0.9;
            }
        }
    }
}
.learn_more{
    position: relative

}

#content-banner{
    overflow-x:hidden;
}

.js-reading-content {
    font-size: 18px !important;
    line-height: 1.75 !important;
}

@media only screen and (max-width:500px){
    #content-banner{
        overflow-x: auto;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }

    #scroll-left-btn, #scroll-right-btn{
        display: none;
    }

    .js-reading-content {
        font-size: 18px !important;
        line-height: 1.75 !important;
    }

}


