@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

grid grid-cols-2 gap-4 gap-x-6 w-full
* {

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.image-container{
    width: 50%;
}

.article-image {
    width: 3cm;
}

h1 {
    line-height: 120%;
}


.prose :where(blockquote):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    * {
        font-style: italic;
        font-size: 1.80rem !important;
        height: fit-content;
        line-height: normal;
    }
}
code {
    font-family: "Fira Code", monospace !important;
    font-optical-sizing: auto;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6{
    @apply text-dark dark:text-white
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}



.roboto-thin {
  font-weight: 100;
  font-style: normal;
}

.roboto-thin-italic {
  font-weight: 100;
  font-style: italic;
}

.roboto-light {
  font-weight: 300;
  font-style: normal;
}

.roboto-light-italic {
  font-weight: 300;
  font-style: italic;
}

.roboto-regular {
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-italic {
  font-weight: 400;
  font-style: italic;
}

.roboto-medium {
  font-weight: 500;
  font-style: normal;
}

.roboto-medium-italic {
  font-weight: 500;
  font-style: italic;
}

.roboto-bold {
  font-weight: 700;
  font-style: normal;
}

.roboto-bold-italic {
  font-style: italic;
}

.roboto-black {
  font-weight: 900;
  font-style: normal;
}

.roboto-black-italic {
  font-weight: 900;
  font-style: italic;
}

@media (max-width: 768px) {
    * {
        font-size: 16px;
    }
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.25rem;
    }
    h6 {
        font-size: 1rem;
    }
}

.truncate-2-lines {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
}



/* For progress bar */


.progress {
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 4px;
    z-index: 1000;
}

#TableOfContents{
    ul {
        padding: 0;
        margin: 0;
        padding-left: 20px;
        li {
            margin: 2px 0;
            padding: 0;
            a {
                text-decoration: none;
                font-size: 18px;
                color: #2a6bd4;
            }
        }
    }
}


.dark #TableOfContents{
    ul {
        padding: 0;
        margin: 0;
        padding-left: 20px;
        li {
            margin: 2px 0;
            padding: 0;
            a {
                text-decoration: none;
                font-size: 20px;
                color: #89b5fa;
                opacity: 0.9;
            }
        }
    }
}
.learn_more{
    position: relative

}

#content-banner{
    overflow-x:hidden;
}

.js-reading-content {
    font-size: 18px !important;
    line-height: 1.75 !important;
}

:is(:where(.dark) .js-reading-content),
:is(:where(.dark) summary)
{
    
    color: #D5D4D9 !important
}

#main_container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 95vw;
    margin: 1cm auto;
}

.social-icon{
    font-size: 30px !important;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}

@media only screen and (max-width:1200px){

    #main_container {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 95vw;
        margin: 1cm auto;
    }

    #related_side_posts{
        display: none;
    }

}
@media only screen and (max-width:500px){
    #content-banner{
        overflow-x: auto;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }

    #scroll-left-btn, #scroll-right-btn{
        display: none;
    }

    .js-reading-content {
        font-size: 18px !important;
        line-height: 1.75 !important;
    }

    #main_container {
        display: block;
    }


}

.highlight {
    position: relative;
    display: block;
}

.copy-button {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    background-color: #026638;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copy-button:hover, .copy-button.copied {
    background-color: #01522d;
}

.copy-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

#article section {
    margin-bottom: 2cm;
}

#article section h1{
    font-size: 24px;
}

.reading_list_entry{
    font-size: 16px;
    margin-left: 30px;
    margin-bottom: 2cm;

    h2 {
      font-weight: 600;
      margin: 4px 0;
      font-size: 15px important;
    }


    span {
      font-weight: 600;
      font-size: 15px;
    }
}

.listed{

    li {
        font-size: 20px;
    }
}

.view_all_blogs {
    position: relative;
    width: 100%;
    display: flex;
    margin: 1.5cm 0;
    justify-items: flex-end;

    a {
        position:absolute;
        top:0;
        right: 10px;
        max-width: 5cm;
        padding: 10px 20px;
        color: #fff;
        background-color: #081f45; 
        border: 1px solid rgb(137 181 250);
    }
}


.suggested_blogs {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;

    section {
        margin-top: 1cm;
    }
}



/*   For aside */

.custom-aside {
    background-color: #f9f9f9;
    border-left: 4px solid #ccc;
    padding: 10px 15px;
    margin: 20px 0;
    font-style: italic;
    display: flex;
    align-items: center;
}

