
<div
    class="grid grid-cols-4 mx-auto font-bold border-t-2 h-[4.5rem] justify-center items-center px-8 text-[0.9em] text-dark dark:text-light">
    <div class="grid col-span-2 grid-cols-3 gap-4">
        <a target="_blank" href="/reading-list">
            Reading List
        </a>

        <a href="mailto:nirjalpaudel54312@gmail.com">
            Contact
        </a>

        <div>
        </div>

    </div>

    <img src="/favicon.webp" width="20" hight="20" alt="server" class="h-[34px] w-[34px]" />

    <div class="text-center">
        <p>&copy; Nirjal Paudel</p>
    </div>
</div>
