
<div class="py-2 px-0 bg-[#16a34a] max-[100vw]">
    <div class="my-0 text-center">
        <a target="_blank" href="https://www.upwork.com/freelancers/~0102d4b4b099a771b2">
        <div>
            <strong class="text-[#e2e8f0]">Have a problem to solve? </strong>
        </div>
        <div>
            View my freelancing profile on <strong class="text-[#e2e8f0]">upwork</strong>
        </div>
        </span>
        </a>
    </div>
</div>
<div
    class="grid grid-cols-4 mx-auto font-bold border-t-2 h-[4.5rem] justify-center items-center px-8 text-[0.9em] text-dark dark:text-light">
    <div class="grid col-span-2 grid-cols-3 gap-4">
        <a target="_blank" href="/reading-list">
            Reading List
        </a>

        <a href="mailto:nirjalpaudel54312@gmail.com">
            Contact
        </a>

        <div>
        </div>

    </div>

    <img src="/favicon.webp" alt="server" class="h-[34px] w-[34px]" />

    <div class="text-center">
        <p>&copy; Nirjal Paudel</p>
    </div>
</div>
