
<footer
  class="opaco mx-auto flex h-[4.5rem] max-w-3xl items-center px-8 text-[0.9em]"
>

    <div id="simple_form">
            <form action="https://nirjalpaudel.us22.list-manage.com/subscribe/post?u=b6088a7da5e588b35ee18a982&amp;id=d89017e618&amp;f_id=00f0cfe1f0" method="post" target="_blank">
                <h3 class="text-[16px]">Subscribe to the Newsletter</h2>
                <div class="field-group">
                    <label for="email">Email Address <span>*</span></label>
                    <input type="email" name="EMAIL" id="email" required>
                </div>
                <input type="submit" value="Subscribe" class="submit-btn">
        </form>
    </div>
</footer>

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
