
    <div class="mb-16 mt-0 p-0 mt-5 mb-10 py-10 px-5 border-[#000] dark:border-[#fff]">
        <div id="mc_embed_shell">
        <div id="mc_embed_signup">
            <form action="https://nirjalpaudel.us22.list-manage.com/subscribe/post?u=b6088a7da5e588b35ee18a982&amp;id=d89017e618&amp;f_id=00f0cfe1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                <div id="mc_embed_signup_scroll"><h2 class="my-0">Subscribe to the Newsletter</h1>
                    <div class="grid grid-cols-4 sm:grid-grid-cols-1 gap-x-3 w-[100%] items-start">
                        <div class="mc-field-group col-span-3">
                            <input type="email" name="EMAIL" placeholder="Enter your email" class="required email border-2 text-[#000] border-[#000] dark:border-[#000] border-opacity-0.7 p-2 w-[100%]" id="mce-EMAIL" required="" value="" />
                            <span class="mt-0 opacity-80 text-sm" > *No spamming, only valuable content</span>
                        </div>
                        <div class="optionalParent">
                            <div class="clear foot h-[100%] w-[100%]">
                                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="cursor-pointer p-2 button bg h-[100%] w-[100%] border-2 border-[#111] dark:border-[#eee]" value="Subscribe">
                            </div>
                        </div>
                    </div>

                    <div id="tech_stacks" class="flex w-[100%] flex-wrap justify-start">
                        {{ range site.Params.stacks }}
                        <img src="/{{.}}.svg" 
                            width="40" heigh="40" class="w-[40px] mx-2 first:ml-0 last:mr-0" alt="{{.}}"
                        />
                        {{end}}
                    </div>
                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                        /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                        <input type="text" name="b_b6088a7da5e588b35ee18a982_d89017e618" tabindex="-1" value="">
                    </div>
                </div> 
                <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>
            </div>
        </form>
        </div>
    </div>


