<script id="mcjs">
!function(c,h,i,m,p){
    m=c.createElement(h),
    p=c.getElementsByTagName(h)[0],
    m.async=1,
    m.src=i,
    p.parentNode.insertBefore(m,p)
}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/b6088a7da5e588b35ee18a982/e21bd9f6de92c6df2a4e539f4.js");
</script>

<script src="//nirjalpaudel-com-np.disqus.com/count.js" async></script>

<script
src="https://giscus.app/client.js"
data-repo="{{ site.Params.giscus.repo }}"
data-repo-id="{{ site.Params.giscus.repoId }}"
data-category="{{ site.Params.giscus.category }}"
data-category-id="{{ site.Params.giscus.categoryId }}"
data-mapping="{{ site.Params.giscus.mapping | default (print `pathname`) }}"
data-strict="{{ site.Params.giscus.strict | default (print `1`) }}"
data-reactions-enabled="{{ site.Params.giscus.reactionsEnabled | default (print `0`) }}"
data-emit-metadata="{{ site.Params.giscus.emitMetadata | default (print `0`) }}"
data-input-position="{{ site.Params.giscus.inputPosition | default (print `top`) }}"
data-theme="{{ site.Params.giscus.theme | default (print `light`) }}"
data-lang="{{ site.Params.giscus.lang | default (print `en`) }}"
data-loading="{{ site.Params.giscus.loading | default (print `lazy`) }}"
crossorigin="anonymous"
async
></script>
